<!doctype html>
<html lang="tr" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="${doctor.name +' ' + doctor.surname}"></title>
</head>
<body>
<h1 th:text="${doctor.name +' ' + doctor.surname}"></h1>
<hr>
<br>

<p>Ad: <span th:text="${doctor.name}"></span></p>
<hr>

<p>Soyad: <span th:text="${doctor.surname}"></span></p>
<hr>

<p>Sicil No: <span th:text="${doctor.regNum}"></span></p>
<hr>
